/* custom.css */

/* Style for the container */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/* Style for the filter fields */
label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    padding: 8px;
    width: 200px;
    margin-bottom: 10px;
    color: black;
}

button {
    background-color: #4CAF50;
    border: 2px solid #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
}


button:hover {
    background-color: #45a049;
}

#grid {
    margin-top: 20px;
    color: black;
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
}

.grid-item {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}

#grid p {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
}
